extends ../base
block scripts
  script(src="/public/js/controllers/matters_management.js",type="text/javascript")
block content
  include ./components/modal_matter_create.jade
  section
    .col-md-12
      .row
        .col-md-4.text-md-center
          input.form-control(type="text", name="filter", placeholder="Filtro", oninput="filterSearch(this);")
        .col-md-3.text-md-center
        .col-md-4.text-md-center
          label(for="") Activos
            input(type="radio", name="filter_matters_state", value="1", style="margin-left: 5%",onclick="filterMattersState(this);")
          label(for="") Bajas
            input(type="radio", name="filter_matters_state", value="0", style="margin-left: 5%",onclick="filterMattersState(this);")
          label(for="") Todos
            input(type="radio", name="filter_matters_state", value="-1", checked="", style="margin-left: 5%",onclick="filterMattersState(this);")
        .col-md-1.text-md-center
          button(type="button", data-toggle="modal", data-target="#matter_add")
            img(src="/public/icons/agregar.png", alt="")
    .col-md-12#index_handlebars
    .col-md-12#index_handlebars_assign

  script(type='text/javascript').
    main()