extends ../base
block scripts
  script(src="/public/js/users.js",type="text/javascript")
block content
  include ./components/modal_user_create.jade
  section
    .col-md-12
      .row
        .col-md-4.text-md-center
          input.form-control(type="text", name="filterSearch", placeholder="Filtro", oninput="filterSearch(this);")
        .col-md-3.text-md-center
          select.form-control(name="filter_tipo_personal", onchange="filterProfileType(this);")
            option(value="-1", checked="checked") Elegir Tipo personal
            option(value="E") Estudiante
            option(value="P") Profesor
        .col-md-4.text-md-center
          label(for="") Activos
            input(type="radio", name="filter_state", value="1", style="margin-left: 5%", onclick="filterState(this);")
          label(for="") Bajas
            input(type="radio", name="filter_state", value="0", style="margin-left: 5%", onclick="filterState(this);")
          label(for="") Todos
            input(type="radio", name="filter_state", value="-1", checked="checked", style="margin-left: 5%", onclick="filterState(this);")
        .col-md-1.text-md-center
          button(type="button", data-toggle="modal", data-target="#user_add")
            img(src="/public/icons/agregar.png", alt="")
    .col-md-12#index_handlebars
  script(type='text/javascript').
    main()