<div class="modal fade text-xs-left" id="process_modify_{{codp}}" tabindex="-1" role="dialog" aria-labelledby="processModify" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title text-text-bold-600" id="processModify"> </label>
      </div>
        <div class="form-body">
          <div class="row" align="center">
            <div class="col-md-12">
              <div class="form-group">
                <table>
                  <tr>
                    <td><label class="form-label" for="nombre">Nombre</label></td>
                    <td>
                      <input class="form-control border-primary" type="text" name="nombre" value="{{nombre}}" placeholder="Nombre" required/>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="form-label" for="enlace">Enlace</label></td>
                    <td>
                      <input class="form-control border-primary" type="text" name="enlace" value="{{enlace}}" placeholder="Enlace" required/>
                    </td>
                  </tr>
                  <tr>
                    <td><label class="form-label" for="ayuda">Ayuda</label></td>
                    <td>
                      <input class="form-control border-primary" type="text" name="ayuda" value="{{ayuda}}" placeholder="Ayuda" required/>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="row" align="center">
            <div class="col-md-6">
              <div class="form-group">
                <input data-url="/processes/{{codp}}/update" data-id="{{codp}}" class="btn btn-primary btn-md" type="submit" value="Guardar" onclick="submitUpdateRole(this);"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="btn btn-outline-secondary btn-md" type="reset" data-dismiss="modal" value="Cancelar"/>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>