extends ./base
block content
  .content-header.row
    .content-header-left.col-md-6.col-xs-12.mb-1
      h2.content-header-title DashBoard
    .content-header-right.breadcrumbs-right.breadcrumbs-top.col-md-6.col-xs-12
      .breadcrumb-wrapper.col-xs-12
        ol.breadcrumb
          li.breadcrumb-item
            a(href="/") Inicio
          |                 
          li.breadcrumb-item
            a(href="/dashboard") Dashboard
  .content-body