extends ./base
block navbar
block content
  .content-header.row
  |         
  .content-body
    section.flexbox-container
      .col-md-4.offset-md-4.col-xs-10.offset-xs-1.box-shadow-2.p-0
        .card.border-grey.border-lighten-3.m-0
          .card-header.no-border
            .card-title.text-xs-center
              .p-1
                img(src="/public/app-assets/images/logo/logo_csma.png", alt="", style="width: 100%;")
            h6.card-subtitle.line-on-side.text-muted.text-xs-center.font-small-3.pt-2
              span Ingrese al sistema
          .card-body.collapse.in
            .card-block
              form#loginForm.form-horizontal.form-simple(method="post", action="/login", modelattribute="loginBean")
                fieldset.form-group.position-relative.has-icon-left.mb-0
                  input#login.form-control.form-control-lg.input-lg(name="login", path="login", placeholder="Usuario",required="true",autofocus)
                  .form-control-position
                    i.icon-head
                fieldset.form-group.position-relative.has-icon-left
                  input#password.form-control.form-control-lg.input-lg(type="password",name="password",path="password", placeholder="Contraseña", required="true")
                  .form-control-position
                    i.icon-key3
                button.btn.btn-primary.btn-lg.btn-block(type="submit")
                  i.icon-unlock2
                  |  Ingresar
block footer