#role_add.modal.fade.text-xs-left(tabindex="-1", role="dialog", aria-labelledby="myModalLabel33", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
        label#myModalLabel33.modal-title.text-text-bold-600  Adicional Nuevo Rol
      form.form(action="/roles/store", method="post")
        .form-body
          .row(align="center")
            .col-md-12
              .form-group
                table
                  tr
                    td
                      label.form-label(for="nombre") Nombre
                    td
                      input.form-control.border-primary(type="text", name="nombre", placeholder="Nombre", required)
          .row(align="center")
            .col-md-6
              .form-group
                button.btn.btn-primary.btn-md(type="submit") Guardar
            .col-md-6
              .form-group
                button.btn.btn-outline-secondary.btn-md(type="reset", data-dismiss="modal") Cancelar
